Section "ServerLayout"
    Identifier     "Layout0"
    Screen      0  "Screen0"
EndSection

Section "Device"
    Identifier     "GPU0"
    Driver         "nvidia"
{% if virtual_display_busid %}
    BusID          "{{ virtual_display_busid }}"
{% endif %}
    Option         "ConnectedMonitor" "{{ virtual_display_connector }}"
    Option         "CustomEDID" "{{ virtual_display_connector }}:/etc/X11/edid.bin"
    Option         "AllowEmptyInitialConfiguration" "true"
    Option         "ModeValidation" "NoMaxPClkCheck,AllowNonEdidModes"
EndSection

Section "Screen"
    Identifier     "Screen0"
    Device         "GPU0"
    DefaultDepth    24
    SubSection     "Display"
        Depth       24
        Modes      "{{ virtual_display_width }}x{{ virtual_display_height }}"
    EndSubSection
EndSection
