[Unit]
Description=borgbackup daily backup (zelos.dgx)
Wants=network-online.target
After=network-online.target
{% if borg_repo_mode in ['nfs', 'smb'] %}
RequiresMountsFor={{ borg_mount_point }}
{% endif %}

[Service]
Type=oneshot
Nice=19
IOSchedulingClass=best-effort
IOSchedulingPriority=7
ExecStart={{ borg_wrapper_path }}
